/*----------------------------------------*/
/*  02. Blog Section
/*----------------------------------------*/

/* Blog Section version one Start */

.blog-section-version-one {
  .blog-card-version-one {
    margin-top: 40px;
    .row {
      --bs-gutter-x: 34px !important;
    }
    .wrapper {
      margin-bottom: 30px;

      .img-file {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
        }
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          // background: #333333af;
          z-index: 0;
        }
        .overlay-date {
          z-index: 9;
          position: absolute;
          bottom: 8px;
          left: 20px;
          display: flex;
          gap: 18px;
          .date {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--bg_white);
            font-size: 14px;
            font-weight: 600;
          }
          .admin {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--bg_white);
            font-size: 14px;
            font-weight: 600;
          }
        }
        .badge-file {
          position: absolute;
          top: 12px;
          right: 12px;
          z-index: 9;
          span {
            padding: 6px 12px;
            background: var(--primary_color);
            border-radius: 5px;
            color: var(--bg_white);
            font-size: 14px;
          }
        }
      }
      .inner-text {
        padding-bottom: 20px;
        margin-top: 20px;
        h2 {
          font-size: 26px;
          font-weight: 700;
          color: var(--heading_color);
          text-transform: capitalize;
          line-height: 34px;
        }
        p {
          font-size: 16px;
        }
        a {
          button {
            position: relative;
            font-size: 16px;
            font-weight: 700;
            transition: all 0.2s linear;
            padding-left: 0;
            &::after {
              position: absolute;
              content: "";
              width: 0;
              height: 3px;
              left: 0;
              bottom: 8px;
              background: var(--theme_color);
              border-radius: 5px;
              transition: all 0.2s linear;
            }
            &:hover {
              color: var(--theme_color);
              padding-left: 36px;
              &::after {
                width: 32px;
              }
            }
          }
        }
      }
    }
    .btn-section {
      display: flex;
      justify-content: center;
      .btn-shape-normal-outline {
        width: 190px;
      }
    }
  }
}

/* Blog Section version one Start */

.blog-section-version-two {
  .blog-card-version-two {
    margin-top: 40px;
    .wrapper {
      margin-bottom: 35px;
      background: var(--bg_white);
      border-radius: 10px;
      overflow: hidden;
      .img-file {
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
        }
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          // background: #333333af;
          z-index: 0;
        }
      }
      .inner-file {
        padding: 10px 20px;
        .date-admin {
          margin-top: 10px;
          display: flex;
          gap: 18px;
          .date {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--theme_color);
            font-size: 14px;
          }
          .admin {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--theme_color);
            font-size: 14px;
          }
        }
        .inner-text {
          margin-top: 10px;
          margin-bottom: 20px;
          h2 {
            font-size: 22px;
            font-weight: 700;
            color: var(--heading_color);
            text-transform: capitalize;
            margin: 0;
          }
          p {
            margin-top: 10px;
          }
          a {
            display: inline-block;
            button {
              font-size: 18px;
              font-weight: 600;
              color: var(--heading_color);
              display: flex;
              align-items: center;
              gap: 8px;
              transition: all 0.2s linear;
              i {
                visibility: hidden;
                opacity: 0;
                transform: translateX(-8px);
                transition: all 0.2s linear;
              }
              &:hover {
                color: var(--theme_color);
                i {
                  visibility: visible;
                  opacity: 1;
                  transform: translateX(0px);
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Blog Group version one start */

.blog-group-version-one {
  .container {
    .left-side {
      .wrapper {
        .blog-items {
          margin-bottom: 50px;
          .main-img {
            img {
              border-radius: 8px;
            }
          }
          .admin-intro {
            padding: 15px 0;
            display: flex;
            align-items: center;
            gap: 25px;
            span {
              &:first-child {
                color: var(--theme_color);
              }
            }
          }
          .main-heading {
            margin-top: 5px;
            h2 {
              font-size: 32px;
              font-weight: 700;
              color: var(--heading_color);
              text-transform: capitalize;
            }
          }
          .inner-section {
            margin-top: 10px;
          }
          .main-btn {
            margin-top: 10px;
            .btn-shape-normal-outline {
              margin: 0;
              width: 146px;
            }
          }
        }
      }
      .pagination {
        margin-top: 50px;
        display: flex;
        gap: 12px;
        align-items: center;
        .item {
          span {
            width: 40px;
            height: 36px;
            border: 1px solid var(--theme_color);
            border-radius: 5px;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.2s linear;
            line-height: initial;
          }
          &.active,
          &:hover {
            span {
              background: var(--theme_color);
              color: var(--bg_white);
            }
          }
        }
      }
    }
  }
}
