/*----------------------------------------*/
/*  02. Latest Projects Section
/*----------------------------------------*/

/* Latest Projects Section version one */

.latest-project-version-one {
  .header-intro {
    .wrapper {
      .pop-text {
        position: relative;
        h3 {
          font-weight: 700;
          font-size: 18px;
          color: var(--primary_color);
          z-index: 1;
        }
        .shape-img {
          position: absolute;
          top: -8px;
          left: -27px;
          z-index: 0;
        }
      }
      .inner-text {
        h2 {
          padding-right: 130px;
          margin-top: 15px;
          font-size: 36px;
          font-weight: 700;
          color: var(--heading_color);
          text-transform: capitalize;
        }
        p {
          margin-top: 10px;
        }
      }
    }
  }
  .project-body {
    .project-filter {
      position: relative;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      gap: 15px;
      button {
        position: relative;
        font-size: 18px;
        font-weight: 600;

        &::after {
          position: absolute;
          content: "";
          width: 16px;
          height: 0;
          background: var(--theme_color);
          left: 50%;
          bottom: -20px;
          -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          transform: translateX(-50%);

          transition: all 0.2s linear;
        }
        &.active {
          color: var(--theme_color);
          &::after {
            height: 16px;
          }
        }
        &:hover {
          color: var(--theme_color);
          &::after {
            height: 16px;
          }
        }
      }
      &::after {
        position: absolute;
        content: "";
        width: 600px;
        height: 6px;
        background: var(--theme_color);
        left: 50%;
        bottom: -22px;
        transform: translateX(-50%);
        border-radius: 5px;
      }
    }
    .project-version-one {
      margin-top: 40px;
      .project-item {
        margin-bottom: 30px;
        .project-wrapper {
          .img-file {
            border-radius: 10px;
            overflow: hidden;
            position: relative;

            img {
              transition: all 0.3s linear;
              object-fit: cover;
              width: 100%;
            }
            .text-overlay {
              position: absolute; 
              top: 0;
              left: 0;
              z-index: 9;
              padding: 10px 14px;
              margin-top: 20px;
              .text {
                visibility: hidden;
                opacity: 0;
                transform: translateY(-20px);
                transition: all 0.3s linear;
                span {
                  color: var(--bg_white);
                }
                h2 {
                  margin-top: 10px;
                  font-size: 24px;
                  font-weight: 700;
                  color: var(--bg_white);
                  text-transform: capitalize;
                }
                p {
                  font-weight: 400;
                  color: var(--bg_white);
                  margin-top: 10px;
                }
              }
            }
            .btn-section {
              position: absolute;
              bottom: 8px;
              left: 10px;
              z-index: 9;
              button {
                padding: 10px 10px;
                width: 130px;
                visibility: hidden;
                opacity: 0;
                transform: translateY(20px);
                transition: all 0.3s linear;
              }
            }
            &::after {
              position: absolute;
              background: #343a40c1;
              content: "";
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              z-index: 0;
              visibility: hidden;
              opacity: 0;
              transition: all 0.3s linear;
            }
            &:hover {
              img {
                transform: scale(110%);
              }
              .text {
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
              }
              .btn-section button {
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
              }
              &::after {
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
