/*----------------------------------------*/
/*  Our Team Section
/*----------------------------------------*/

/* Our Team Section version one */

.ourTeam-section-version-one {
  .slider-card-team {
    margin-top: 40px;
    .team-version-one {
      .swiper-wrapper {
        .swiper-slide {
          .inner-wrapper {
            .img-file {
              position: relative;
              border-radius: 10px;
              overflow: hidden;
              img {
              }
              &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 50px;
                left: 0;
                bottom: 0;
                background: var(--primary_color);

                z-index: 0;
                transform: translateY(100%);
                transition: all 0.2s linear;
              }
              .icon-file {
                position: absolute;
                bottom: 0;
                z-index: 9;
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 6px;
                visibility: hidden;
                opacity: 0;
                transition: all 0.2s linear !important;
                a {
                  padding: 2px 3px;
                  font-size: 24px;
                  color: var(--bg_white);
                  transition: all 0.3s ease-in !important;

                  &:hover {
                    color: var(--theme_color);
                  }
                }
              }
              &:hover {
                &::after {
                  transform: translateY(0);
                }
                .icon-file {
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
            .text-file {
              text-align: center;
              h2 {
                font-size: 20px;
                font-weight: 700;
                color: var(--heading_color);
                margin-top: 15px;
                margin-bottom: 5px;
              }
              h4 {
                font-size: 16px;
                font-weight: 700;
                color: var(--theme_color);
              }
            }
          }
        }
      }
    }
    .team-version-one-pagination {
      display: flex;
      gap: 10px;
      justify-content: center;
      margin-top: 38px;
      .swiper-pagination-bullet-active {
        background: var(--theme_color);
      }
    }
  }
}

/* Our Team Section version Two */

.ourTeam-section-version-two {
  .inner-card-items-slider {
    position: relative;
    margin-top: 40px;
    .team-version-two {
      .swiper-wrapper {
        .swiper-slide {
          .inner-wrapper {
            border-radius: 8px;
            overflow: hidden;
            margin: 20px 15px;
            .img-file {
              img {
              }
            }
            .intro {
              padding: 18px 10px;
              text-align: center;

              .name {
                margin-top: 0;
                font-size: 20px;
                font-weight: 700;
                color: var(--theme_color);
                margin-bottom: 0;
              }
              .position {
                margin: 0;
                margin-top: 5px;
                font-weight: 600;
                font-size: 14px;
                color: var(--heading_color);
              }

              .social-icon {
                margin-top: 8px;
                ul {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;
                  li {
                    a {
                      font-size: 18px;
                    }
                    i {
                      font-size: 18px;
                      transition: all 0.2s linear;
                    }
                    &:hover .fa-facebook-f {
                      color: var(--facebook);
                    }
                    &:hover .fa-twitter {
                      color: var(--twitter);
                    }
                    &:hover .fa-youtube {
                      color: var(--youtube);
                    }
                    &:hover .fa-linkedin {
                      color: var(--linkedin);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .team-version-two-pagination {
      position: absolute;
      display: flex;
      justify-content: center;
      z-index: 9;
      left: 0;
      bottom: -50px;
      gap: 12px;
      & .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 0;
      }
      & .swiper-pagination-bullet-active {
        background: var(--theme_color);
        opacity: 1;
      }
    }
  }
}

/* Our Team Section version Three */

.ourTeam-section-version-three {
  .inner-card-items-slider {
    position: relative;
    margin-top: 40px;
    .team-version-three {
      .inner-wrapper {
        position: relative;
        border-radius: 8px;
        margin: 20px 15px;
        .img-file {
          position: relative;
          z-index: 9;
          border-radius: 8px 8px 0 0;
          overflow: hidden;
        }
        .intro {
          position: relative;
          z-index: 9;
          padding: 18px 10px;
          text-align: center;
          border: 1px solid var(--border_color);
          border-top: transparent;
          border-radius: 0 0 8px 8px;
          padding-bottom: 10px;
          background: var(--bg_white);
          transition: all 0.2s linear;

          .name {
            margin-top: 0;
            font-size: 20px;
            font-weight: 700;
            color: var(--heading_color);
            margin-bottom: 0;
          }
          .position {
            margin: 0;
            margin-top: 5px;
            font-weight: 600;
            font-size: 14px;
            color: var(--theme_color);
          }

          .social-icon {
            margin-top: 8px;
            margin-bottom: 5px;
            ul {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              li {
                a {
                  font-size: 18px;
                  padding: 2px;
                  color: var(--primary_color);
                  i {
                    font-size: 18px;
                    transition: all 0.2s linear;
                  }
                  &:hover {
                    color: var(--theme_color);
                  }
                }
              }
            }
          }
        }
        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 0;
          background: var(--theme_color);
          z-index: 0;
          border-radius: 8px;
          transition: all 0.2s linear;
          visibility: hidden;
          opacity: 0;
          padding: 0;
        }
        &:hover {
          .intro {
            border: 1px solid var(--theme_color);
            border-top: transparent;
          }
          .overlay {
            bottom: -7px;
            visibility: visible;
            opacity: 1;
          }
        }
      }
      &.noSlider {
        .inner-wrapper {
          margin: 20px 5px;
        }
      }
    }
  }
}
.team-version-three-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  z-index: 9;
  gap: 12px;
  & .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 0;
  }
  & .swiper-pagination-bullet-active {
    background: var(--theme_color);
    opacity: 1;
  }
}
