/*----------------------------------------*/
/*  02. Service List Section
/*----------------------------------------*/

/* Service List Section version one */
.serviceList-section-version-one {
  .inner-card-items {
    margin-top: 40px;
    .wrapper {
      background: var(--bg_white);
      padding: 28px 18px;
      border-radius: 8px;
      .icon-file {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
        margin-bottom: 28px;
      }
      .text-file {
        h3 {
          color: var(--heading_color);
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 12px;
        }
        p {
          font-size: 15px;
          margin-top: 12x;
        }
      }
      .btn-hold {
        button {
          display: flex;
          gap: 8px;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          font-weight: 700;
          &:hover {
            color: var(--theme_color);
          }
        }
      }
    }
  }
  .btn-section {
    padding-top: 60px;
    button {
      width: 165px;
    }
  }
}

/* Service List Section version Two */

.serviceList-section-version-two {
  .inner-card-items-slider {
    margin-top: 50px;
    position: relative;
    .serviceList-version-two {
      .swiper-wrapper {
        .swiper-slide {
          .inner-wrapper {
            border-radius: 8px;
            padding: 20px 20px;
            &.bg-theme {
              background: var(--theme_color);
            }
            &.bg-dark {
              background: var(--primary_color);
            }
            .icon-file {
              padding: 15px;
              display: flex;
              justify-content: center;
            }
            .intro {
              h2 {
                text-align: center;
                font-size: 22px;
                font-weight: 700;
                color: var(--bg_white);
              }
              p {
                font-size: 15px;
                margin-top: 10px;
                text-align: center;
                color: var(--bg_white);
              }
            }
            .btn-section {
              display: flex;
              justify-content: center;
              margin-bottom: 5px;
              .btn-shape-normal-outline {
                background: var(--bg_white);
                color: var(--heading_color);
                width: 135px;
                padding: 10px 14px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    .serviceList-section-version-two-pagination {
      position: absolute;
      z-index: 9;
      display: flex;
      justify-content: center;
      bottom: -50px;
      left: 0;
      gap: 12px;
      & .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 0;
      }
      & .swiper-pagination-bullet-active {
        background: var(--theme_color);
        opacity: 1;
      }
    }
  }
}
