/*----------------------------------------*/
/*  02. Blog Section
/*----------------------------------------*/

/* Header Intro Version One version One */

.header-intro-version-one {
  .wrapper {
    .pop-text {
      position: relative;
      h3 {
        font-weight: 700;
        font-size: 18px;
        color: var(--primary_color);
        z-index: 1;
        text-transform: capitalize;
      }
      .shape-img {
        position: absolute;
        top: -8px;
        left: -27px;
        z-index: 0;
      }
    }
    .inner-text {
      h2 {
        padding-right: 130px;
        margin-top: 15px;
        font-size: 36px;
        font-weight: 700;
        color: var(--heading_color);
        text-transform: capitalize;
      }
      p {
        margin-top: 10px;
      }
    }
  }
}

/* Header Intro Version One version Two */
.header-intro-version-two {
  .wrapper {
    display: flex;
    justify-content: center;
    .pop-text {
      text-align: center;
      h3 {
        font-size: 18px;
        color: var(--theme_color);
        font-weight: normal;
      }
      h2 {
        margin-top: 15px;
        font-weight: 30;
        font-weight: 700;
        color: var(--heading_color);
      }
    }
  }
}
